<h3>Register new Villager:</h3>

<form action="/villager/villager-added" method="POST">
    <label>
        <p>
            Name: <input type="text" name="name">
        </p>
    </label>
    <label>
        <p>
            Vitality: <input type="number" name="vitality">
        </p>
    </label>
    <label>
        <p>
            Strength: <input type="number" name="strength">
        </p>
    </label>
    <label>
        <p>
            Defence: <input type="number" name="defence">
        </p>
    </label>

    <button type="submit">Register</button>
</form>