<head>
    <link rel="stylesheet" href="/assets/styles/profile.css">
</head>

{{> navbar}}

{{#if top}}
<h2>Top ranked players:</h2>
{{#each top}}
<table class="top-players-table">
    <thead class="top-players-table__thead">
        <tr>
            <th>{{inc @index}}. {{this.name}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gold: {{this.gold}}</td>
        </tr>
    </tbody>
</table>

{{/each}}
{{/if}}