<nav class="info-menu">
    <ul>
        <li>
            <p>Gold: {{gold}}</p>
        </li>
        <li>
            <p>Wood: {{wood}}</p>
        </li>
        <li>
            <p>Stone: {{stone}}</p>
        </li>
        <li>
            <p>Villagers: {{villager}}</p>
        </li>
    </ul>
</nav>