{{> navbar}}

<h1>Mine: </h1>

<form action="/mine" method="POST">
    <label>
        <p>Gold:</p>
        <input type="number" name="minegold" placeholder="How many villagers...">
    </label>
    <label>
        <p>Wood:</p>
        <input type="number" name="minewood" placeholder="How many villagers...">
    </label>
    <label>
        <p>Stone:</p>
        <input type="number" name="minestone" placeholder="How many villagers...">
    </label>

    <button type="submit">Mine</button>
</form>