<head>
    <script>
        showMessage => {
            console.log('test')
        }
    </script>
</head>

{{> navbar}}

<h1>Recruit</h1>

<form action="/recruit" method="POST">
    <label>
        <p>Villagers (100gold per villager):</p>
        <input type="number" name="recruit" placeholder="How many villagers..." min="1">
    </label>

    <button type="submit" onclick={{showMessage}}>Recruit</button>
</form>